@import '../../../App.scss';

.Services {
  @include Section;
  width: 100%;

  .TitleDesc {
    font-size: 2rem;
    width: 900px;
    text-align: center;
  }

  .Content {
    margin: 50px 0;
    width: 1250px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @mixin Box($BorderColor, $BGColor) {
      padding: 0.2rem 0.7rem;
      width: 100%;
      height: 33.3%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      border: solid 3px;
      border-color: $BorderColor;
      background-color: $BGColor;
    }

    .Box {
      &-Red {
        @include Box(rgba(255, 3, 3, 1), rgba(255, 3, 3, 0.1));
      }

      &-Blue {
        @include Box(rgba(3, 49, 255, 1), rgba(3, 49, 255, 0.1));
      }

      &-Green {
        @include Box(rgba(24, 255, 3, 1), rgba(24, 255, 3, 0.1));
      }

      &Title {
        font-size: 1.6rem;
        margin: 0 0 -4px 0;
      }

      &Price {
        font-size: 1.6rem;
      }

      &Benifits {
        font-size: 1rem;
        margin: 0 0 12px 0;
      }

      &Text {
        height: 50px;
        width: 70%;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}
