@import '../../../App.scss';

.About {
  @include Section;
  width: 100%;

  .Contents {
    margin: 50px 0;
    width: 1100px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Img {
      object-fit: cover;
      width: 240px;
      height: 240px;
      border-radius: 400px;
      border: solid 2px rgba(255, 255, 255, 0.2);
    }

    .Text {
      margin: 4px 0 0 0;
      line-height: 2.4rem;
      height: 100%;
      width: 800px;
      font-size: 1.6rem;
      overflow: hidden;
      text-align: center;
    }
  }
}
