@import '../../../App.scss';

.Section6 {
  width: 100vw;
  min-height: 51.1rem;
  background-color: $tertiary0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .HeaderBox {
    position: absolute;
  }

  .Content {
    margin-top: 4.2rem;
    width: 86.5rem;
    height: 47rem;
    display: flex;
    align-items: end;
    justify-content: space-between;

    @media (max-width: 1500px) {
      width: 100%;
    }

    @media (max-width: 1200px) {
      height: auto;
      flex-direction: column;
      margin-top: 9rem;
      align-items: center;
    }

    .Left {
      width: 37rem;
      height: 46.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 750px) {
        width: 100%;
      }

      @media (max-width: 750px) {
        height: auto;
        margin-top: 2rem;
        margin-bottom: 7rem;
      }

      h4 {
        font-size: 3.5rem;
        color: $primary4;
        rotate: -5deg;
        text-shadow: 0.2rem 0.2rem 0 black;
      }

      .Form {
        width: 100%;
        margin-top: 2.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1500px) {
          width: 30rem;
        }

        @media (max-width: 750px) {
          width: 100%;
          padding: 0 1rem;
        }
      }

      .TextLine {
        margin-bottom: 2rem;
        padding: 0 1.6rem;
        width: 100%;
        height: 3.2rem;
        color: black;
        background-color: white;
        border: solid 0.45rem black;
        box-shadow: 0.45rem 0.45rem 0 black;
        border-radius: 1rem;
        font-size: 1.2rem;
        cursor: text;
      }

      .TextBox {
        margin-bottom: 2.8rem;
        padding: 0.8rem 1.6rem;
        width: 100%;
        height: 15rem;
        color: black;
        background-color: white;
        border: solid 0.45rem black;
        box-shadow: 0.45rem 0.45rem 0 black;
        border-radius: 1rem;
        font-size: 1.2rem;
        cursor: text;
      }

      .TiltBtn {
        align-self: end;
        width: 20rem;
        cursor: pointer;

        @media (max-width: 1500px) {
          margin-right: 3.2rem;
        }
        p {
          cursor: pointer;
        }

        @media (max-width: 750px) {
          margin-right: 0;
          width: 17rem;
          align-self: center;
        }
      }
    }

    .Right {
      height: 41rem;
      width: 50%;
      position: absolute;
      overflow-x: hidden;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -2rem;

      @media (max-width: 1500px) {
        width: 50%;
      }

      @media (max-width: 1200px) {
        position: relative;
        overflow-x: visible;
      }

      @media (max-width: 750px) {
        width: 22rem;
        height: 22rem;
      }

      img {
        width: 45rem;
        object-fit: cover;
        z-index: 2;

        @media (max-width: 1500px) {
          width: 40rem;
        }

        @media (max-width: 750px) {
          width: 32rem;
        }
      }

      h3 {
        position: absolute;
        margin-top: 5.2rem;
        font-size: 2.3rem;
        color: black;
        text-align: center;
        z-index: 3;

        @media (max-width: 1500px) {
          font-size: 2.2rem;
          margin-right: 0.9rem;
        }

        @media (max-width: 750px) {
          margin-top: 6rem;
          width: 110%;
          margin-left: -0.8rem;
        }
      }
      h4 {
        position: absolute;
        font-size: 2.3rem;
        margin-top: 7.6rem;
        color: black;
        text-align: center;
        z-index: 3;

        @media (max-width: 1500px) {
          font-size: 2.2rem;
          margin-right: 0.9rem;
        }

        @media (max-width: 750px) {
          margin-left: -0.8rem;
          margin-top: 8.7rem;
        }
      }

      .TextBox {
        position: absolute;
        margin-top: 10.3rem;
        margin-left: -2rem;
        width: 32rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1500px) {
          width: 20rem;
        }

        @media (max-width: 750px) {
          width: 20rem;
        }

        .Text {
          margin-top: 0.8rem;
          color: black;
          font-size: 1rem;
          z-index: 3;

          @media (max-width: 1500px) {
            height: 4rem;
            overflow: hidden;
          }
        }
      }

      .TiltBtn {
        align-self: start;
        margin-left: 2rem;
        margin-top: 2rem;
        width: 14rem;
        background-color: $primary4;
        cursor: pointer;

        @media (max-width: 1500px) {
          margin-top: 4.1rem;
          margin-left: 5.4rem;
        }

        p {
          color: white;
          cursor: pointer;
        }
      }

      .ContactInfo {
        z-index: 6;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 750px) {
          width: 20rem;
          margin-top: -8rem;
          margin-left: -1.4rem;
        }

        p {
          color: black;
          font-size: 1rem;
        }
      }
    }
  }
}

.Modal {
  position: fixed;
  z-index: 6;
  top: 15rem;
  height: 6rem;
  width: 24rem;
  rotate: 358deg;
  background-color: $primary2;
  border: 0.3rem solid black;
  box-shadow: 0.3rem 0.3rem 0 black;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 2rem;
    color: black;
  }

  &-Success {
    width: 25rem;
    height: 6.5rem;
    rotate: 2deg;
    background-color: $secondary4;

    p {
      color: white;
      font-size: 3rem;
    }
  }
}
