@import '../../../App.scss';

.Section2 {
  width: 100%;
  min-height: 54rem;
  background-color: $tertiary0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Content {
    height: 100%;
    width: 88rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1500px) {
      width: 100%;
    }

    .Buttons {
      width: 88%;
      margin-top: 5.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .Websites {
      margin-top: 5rem;
      margin-bottom: 5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 1500px) {
        justify-content: space-around;
      }

      .ImageItem {
        width: 26.2rem;
        height: 17.3rem;
        box-shadow: 0.6rem 0.6rem 0 black;
        background-color: $primary1;
        border-radius: 0.8rem;
        cursor: pointer;

        &-Space {
          margin-bottom: 4rem;
        }

        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          cursor: pointer;
        }

        .Title {
          margin-top: -2.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }
  }

  .TiltBtn {
    &:hover {
      background-color: $secondary4;

      p {
        color: white;
      }
    }
  }
}
