@import '../../../App.scss';

.Section5 {
  width: 100vw;
  height: 53rem;
  background-color: $primary1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Content {
    margin-top: 0rem;
    width: 78rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1500px) {
      width: 100%;
      justify-content: space-around;

      .Card-2 {
        margin: 0 1rem;
      }
    }
  }
}
