@import '../../../App.scss';

.Section6 {
  width: 100vw;
  min-height: 51.1rem;
  background-color: $tertiary0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .HeaderBox {
    position: absolute;
  }

  .Content {
    margin-top: 4.2rem;
    width: 86.5rem;
    height: 47rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    //background-color: blue;

    .Left {
      width: 37rem;
      height: 46.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: green;

      h4 {
        font-size: 3.5rem;
        color: $primary4;
        rotate: -5deg;
        text-shadow: 0.2rem 0.2rem 0 black;
      }

      .Form {
        width: 100%;
        margin-top: 2.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .TextLine {
        margin-bottom: 2rem;
        padding: 0 1.6rem;
        width: 100%;
        height: 3.2rem;
        color: black;
        background-color: white;
        border: solid 0.45rem black;
        box-shadow: 0.45rem 0.45rem 0 black;
        border-radius: 1rem;
        font-size: 1.2rem;
        cursor: text;
      }

      .TextBox {
        margin-bottom: 2.8rem;
        padding: 0.8rem 1.6rem;
        width: 100%;
        height: 15rem;
        color: black;
        background-color: white;
        border: solid 0.45rem black;
        box-shadow: 0.45rem 0.45rem 0 black;
        border-radius: 1rem;
        font-size: 1.2rem;
        cursor: text;
      }

      .TiltBtn {
        align-self: end;
        width: 20rem;
        cursor: pointer;

        p {
          cursor: pointer;
        }
      }
    }

    .Right {
      height: 41rem;
      width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        position: absolute;
        width: 40rem;
        object-fit: contain;
        z-index: 2;
      }

      h3 {
        margin-top: 2.8rem;
        font-size: 2.5rem;
        color: black;
        text-align: center;
        z-index: 3;
      }
      h4 {
        font-size: 2.5rem;
        color: black;
        text-align: center;
        z-index: 3;
      }

      .TextBox {
        margin-top: 0.4rem;
        width: 34rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Text {
          margin-top: 0.8rem;
          color: black;
          font-size: 1rem;
          z-index: 3;
        }
      }

      .TiltBtn {
        align-self: start;
        margin-left: -1.7rem;
        margin-top: 2rem;
        width: 14rem;
        background-color: $primary4;
        cursor: pointer;

        p {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.Modal {
  position: fixed;
  z-index: 6;
  top: 15rem;
  height: 6rem;
  width: 24rem;
  rotate: 358deg;
  background-color: $primary2;
  border: 0.3rem solid black;
  box-shadow: 0.3rem 0.3rem 0 black;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 2rem;
    color: black;
  }

  &-Success {
    width: 25rem;
    height: 6.5rem;
    rotate: 2deg;
    background-color: $secondary4;

    p {
      color: white;
      font-size: 3rem;
    }
  }
}
