@import '../../../App.scss';

.Section2 {
  width: 100%;
  min-height: 54rem;
  background-color: $tertiary0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Content {
    height: 100%;
    width: 88rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1500px) {
      width: 100%;
    }

    .PortfolioLink {
      position: absolute;
      margin-top: 3rem;
      margin-left: 45rem;

      @media (max-width: 1200px) {
        margin-left: 30rem;
      }

      @media (max-width: 750px) {
        position: relative;
        margin-top: 1.5rem;
        margin-left: 0rem;
      }

      .TiltBtn {
        width: 17rem;
        cursor: pointer;
        rotate: 6deg;

        @media (max-width: 1200px) {
          width: 10rem;
          height: 6rem;

          p {
            font-size: 2.2rem;
            text-align: center;
          }
        }

        @media (max-width: 750px) {
          rotate: 0deg;
          width: 13rem;
          height: 4rem;
        }
      }

      p {
        cursor: pointer;
      }
    }

    .Buttons {
      width: 88%;
      margin-top: 5.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1200px) {
        margin-top: 6.5rem;
        width: 100%;
        justify-content: space-around;

        .TiltBtn {
          width: 9rem;

          p {
            font-size: 2rem;
          }
        }
      }

      @media (max-width: 750px) {
        flex-wrap: wrap;
        width: 90%;
        margin-top: 4rem;

        .TiltBtn {
          height: 3.2rem;
          width: 7rem;
          margin-bottom: 1rem;

          p {
            font-size: 1.6rem;
          }
        }
      }
    }

    .GreenBG {
      background-color: $tertiary4;
    }

    .Websites {
      margin-top: 5rem;
      margin-bottom: 5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 1500px) {
        justify-content: space-around;
      }

      @media (max-width: 750px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .ImageItem {
        width: 26.2rem;
        height: 17.3rem;
        box-shadow: 0.6rem 0.6rem 0 black;
        background-color: $primary1;
        border-radius: 0.8rem;
        cursor: pointer;

        @media (max-width: 750px) {
          width: 17rem;
          height: 11.7rem;
        }

        &-Space {
          margin-bottom: 4rem;
        }

        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          cursor: pointer;
        }

        .Title {
          margin-top: -2.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          font-size: 2rem;
          cursor: pointer;

          @media (max-width: 750px) {
            margin-top: -2.2rem;
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .TiltBtn {
    &:hover {
      background-color: $secondary4;

      p {
        color: white;
      }
    }
  }
}
