@import '../../../App.scss';

.ContactBtn {
  cursor: pointer;
  margin: 83vh 0 0 70vw;
  width: 12.5rem;
  height: 3.8rem;
  position: fixed;
  color: $primary0;
  border: solid 4px $primary0;
  background-color: rgba(8, 255, 0, 0.15);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.Icon {
  cursor: pointer;
  margin: 0 10px 0 0;
  font-size: 2.6rem;
}

.Text {
  cursor: pointer;
}
