@import '../../../App.scss';

.Navbar {
  position: fixed;
  width: 100vw;
  height: 2.8rem;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;

  @media (max-width: 1500px) {
    height: 2.3rem;
  }

  .Content {
    width: 90rem;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .Contact {
        margin-left: 2.7rem;
        display: flex;

        p {
          font-size: 0.9rem;
          margin-left: 1rem;
        }
      }

      img {
        width: 2rem;
        height: 2rem;
      }

      .Link {
        height: 100%;
      }

      h4 {
        font-size: 2rem;
        color: $primary0;
        padding: 0 1rem;
      }

      .Title {
        display: flex;
        align-items: center;
      }
    }

    .Right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      p {
        font-size: 1.6rem;
        color: $primary0;
        padding: 0 1rem;
        cursor: pointer;

        @media (max-width: 1500px) {
          font-size: 1.3rem;
        }
      }
    }
  }
  .Item {
    border-left: solid 0.1rem rgba(255, 255, 255, 0.8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-End {
      border-right: solid 0.1rem rgba(255, 255, 255, 0.8);
    }
  }
}
