$upperBreak: 1150px;
$lowerBreak: 767px;
$bgColor: rgba(18, 18, 18, 1);
$primary0: #fff5e7;
$primary1: #ffeacb;
$primary2: #ffdca8;
$primary3: #d8ad6c;
$primary4: #ab7d38;
$secondary0: #d9d7ea;
$secondary1: #aeacd1;
$secondary2: #817db2;
$secondary3: #5b5696;
$secondary4: #373277;
$tertiary0: #d2e8e1;
$tertiary1: #a2ccbe;
$tertiary2: #70aa97;
$tertiary3: #488f78;
$tertiary4: #257259;

html {
  width: 100%;
  height: 100%;
  font-weight: 400;
  overflow-y: overlay;
}

body {
  min-height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;

  &-thumb {
    background: $bgColor;
    border-radius: 0.4rem;
    height: 20px;
  }
}

* {
  font-family: bebas-kai, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  margin: 0;
  padding: 0;
  margin: none;
  border: none;
  padding: none;
  outline: none;
  background: none;
  color: white;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;

  &:active {
    color: black;
  }
}

.Text {
  font-family: ainslie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  &-Main {
    width: 100%;
    color: white;
    overflow: auto;
    display: flex;
    justify-content: center;
  }

  &-Background {
    background-color: $bgColor;
    position: fixed;
    z-index: -4;
    height: 100%;
    width: 100%;
  }

  &-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Link {
  text-decoration: none;
  color: white;

  &:hover {
    color: white;
  }
}

.Icon {
  cursor: pointer;
  svg {
    color: black;
    cursor: pointer;
  }
  path {
    color: black;
    cursor: pointer;
  }
}

@mixin Section {
  width: 82rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $lowerBreak) and (max-width: $upperBreak) {
    width: 40rem;
  }
  @media (max-width: $lowerBreak) {
    width: 100%;
    padding: 0 1rem;
  }
}

.HeaderBox {
  width: 18rem;
  height: 7rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  h2 {
    color: white;
    text-decoration: underline;
    font-size: 3.9rem;
  }

  @media (max-width: 1500px) {
    height: 6rem;
    width: 15rem;

    h2 {
      font-size: 3rem;
    }
  }
}

.Card {
  height: 23rem;
  width: 19rem;
  background-color: white;
  border: 0.3rem solid black;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0 black;
  display: flex;
  flex-direction: column;

  @media (max-width: 1440px) {
    width: 16rem;
  }

  .CardHeader {
    width: 100%;
    height: 3.7rem;
    border-bottom: 0.3rem solid black;
    background-color: $primary1;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;

    @media (max-width: 1440px) {
      padding: 0 0.9rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      color: black;
    }

    &-1 {
      background-color: $tertiary1;
    }
  }

  .CardContent {
    padding: 1.7rem;
    width: 100%;
    height: 100%;

    @media (max-width: 1440px) {
      padding: 1.7rem 0.9rem;
    }

    .TimeRow {
      display: flex;
      align-items: center;

      .Icon {
        height: 1.3rem;
        width: 1.3rem;

        svg {
          color: black;
        }
        path {
          color: black;
        }
      }

      p {
        font-size: 1.2rem;
        color: black;
        margin-left: 0.15rem;
      }
    }

    h4 {
      font-size: 1.8rem;
      color: black;
    }

    .Desc {
      margin-top: 1.4rem;
      color: black;
      height: 10.8rem;
      font-size: 1rem;
      overflow: hidden;
    }

    .Blue {
      position: absolute;
      color: blue;
      font-size: 1.3rem;
      margin-top: -1.6rem;
      margin-left: 4.8rem;
      cursor: pointer;
    }
  }
}

.Card-1 {
  height: 31.5rem;
  width: 26rem;
  background-color: white;
  border: 0.4rem solid black;
  border-radius: 0.3rem;
  box-shadow: 0.4rem 0.4rem 0 black;
  display: flex;
  flex-direction: column;

  @media (max-width: 1500px) {
    width: 23rem;
    height: 28.4rem;
  }

  @media (max-width: 750px) {
    width: 19rem;
    margin-right: 0.3rem;
    height: 33rem;
  }

  .CardHeader {
    width: 100%;
    height: 6rem;
    background-color: $primary4;
    padding: 0 1.9rem;
    display: flex;
    align-items: center;

    @media (max-width: 750px) {
      padding: 0 1.2rem;
    }

    h4 {
      font-size: 3rem;
      font-weight: 500;
      color: black;

      @media (max-width: 1500px) {
        font-size: 2.9rem;
      }
    }

    &-1 {
      background-color: $secondary4;
    }
    &-2 {
      background-color: $tertiary4;
    }
  }

  .CardContent {
    padding: 1.9rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 750px) {
      padding: 1.9rem 1.2rem;
    }

    h4 {
      font-size: 2.1rem;
      color: black;
    }

    .TextBox {
      margin-top: 1.8rem;
      display: flex;
      flex-direction: column;

      .Line {
        display: flex;
        align-items: center;
        width: 100%;

        .Icon {
          width: 1.7rem;
          height: 1.7rem;
          path {
            color: rgb(41, 172, 41);
          }
        }

        .Desc {
          margin-left: 0.5rem;
          color: black;
          font-size: 1.2rem;

          @media (max-width: 1500px) {
            margin-top: 0.2rem;
            font-size: 1.2rem;
          }
        }
      }
    }
    .Blue {
      position: absolute;
      margin-top: 20rem;
      color: blue;
      font-size: 1.5rem;
      cursor: pointer;

      @media (max-width: 1500px) {
        margin-top: 17.2rem;
      }

      @media (max-width: 750px) {
        margin-top: 21.7rem;
      }
    }
  }
}

.Card-2 {
  height: 37.5rem;
  width: 33.2rem;
  background-color: white;
  border: 0.5rem solid black;
  box-shadow: 0.5rem 0.5rem 0 black;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media (max-width: 1500px) {
    margin: 0 1rem;
  }

  @media (max-width: 750px) {
    height: 37.5rem;
    width: 19rem;
    margin-right: 1.4rem;
  }

  &:hover {
    .CardContent {
      background-color: black;

      .TimeRow {
        .Icon {
          svg {
            color: white;
          }
          path {
            color: white;
          }
        }
      }
      p {
        color: white;
      }
      h4 {
        color: white;
      }
      .Desc {
        color: white;
      }
      .Text {
        color: white;
      }
    }
  }

  .CardHeader {
    width: 100%;
    height: 6rem;
    background-color: $tertiary4;
    padding: 0 1.9rem;
    display: flex;
    align-items: center;
    border-bottom: 0.5rem solid black;
    cursor: pointer;

    h4 {
      font-size: 3rem;
      font-weight: 500;
      color: white;
      @media (max-width: 750px) {
        font-size: 2.6rem;
      }
    }

    &-1 {
      background-color: $primary4;
    }
    &-2 {
      background-color: $secondary4;
    }
  }

  img {
    width: 100%;
    border-bottom: 0.5rem solid black;
    cursor: pointer;
    height: 18.6rem;

    @media (max-width: 750px) {
      min-height: 13rem;
    }
  }

  .CardContent {
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .TimeRow {
      display: flex;
      align-items: center;
      cursor: pointer;

      .Icon {
        height: 1.3rem;
        width: 1.3rem;
        cursor: pointer;

        svg {
          color: black;
        }
        path {
          color: black;
        }
      }

      p {
        font-size: 1.2rem;
        color: black;
        margin-left: 0.15rem;
        cursor: pointer;
      }
    }

    h4 {
      font-size: 2.1rem;
      color: black;
      cursor: pointer;
    }

    .Desc {
      margin-top: 1.3rem;
      color: black;
      font-size: 1.5rem;
      cursor: pointer;
      max-height: 6rem;
      overflow: hidden;

      @media (max-width: 750px) {
        max-height: 10rem;
      }
    }
  }
}

.TiltBtn {
  height: 4.4rem;
  min-width: 11.5rem;
  border: solid 0.3rem black;
  background-color: $primary3;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -2.2deg;
  box-shadow: 0.3rem 0.3rem 0 black;

  p {
    color: black;
    font-size: 2.7rem;
    padding: 0 1rem;
  }

  &-1 {
    rotate: 2.2deg;
  }
  &-Purple {
    background-color: $secondary4;

    p {
      color: white;
    }
  }
}
