@import '../../../App.scss';

.SearchBox {
  display: flex;
  align-items: end;
  justify-self: end;
  margin: -0.5rem 0.8rem 0 0;

  // @media (max-width: $lowerBreak) {
  //   width: 100%;
  //   justify-self: center;
  //   justify-content: space-around;
  // }

  .AccountLink {
    cursor: pointer;
    margin: 0 0 0 0.6rem;
    font-size: 2.5rem;

    .Icon {
      cursor: pointer;
    }

    path {
      cursor: pointer;
      stroke: white;
      stroke-width: 5;
    }

    &:hover {
      filter: brightness(50%);
    }
  }

  .Link {
    margin: 1.8rem 0.2rem 0 0.6rem;
    font-size: 2rem;
    cursor: pointer;

    //   @media (max-width: $lowerBreak) {
    //     margin: 0 0.2rem 0 0rem;
    //   }

    .Icon {
      cursor: pointer;
    }

    path {
      cursor: pointer;
      stroke: white;
      stroke-width: 5;
    }

    &:hover {
      filter: brightness(50%);
    }
  }
  .Pink {
    cursor: pointer;
    width: 5rem;
    height: 3.6rem;
    //   @media (max-width: $lowerBreak) {
    //     margin: 0 0 0 0;
    //     height: $mobileIconHeight;
    //   }

    .Icon {
      width: 5rem;
      height: 3.6rem;
      cursor: pointer;
      // @media (max-width: $lowerBreak) {
      //   height: $mobileIconHeight;
      // }
    }

    path {
      cursor: pointer;
      stroke: white;
      stroke-width: 5;
    }

    &:hover {
      filter: brightness(50%);
    }
  }
}
.search {
  margin: 20px;

  // @media (max-width: $lowerBreak) {
  //   margin: 15px 15px 13px 15px;
  // }
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: '';
  background: $secondary4;
  width: 3px;
  height: 20px;
  position: absolute;
  top: 19px;
  right: -3px;
  transform: rotate(135deg);
  cursor: pointer;

  // @media (max-width: $lowerBreak) {
  //   top: 18px;
  //   right: -5px;
  //   height: 14px;
  // }
}

.search > div > input {
  color: $secondary4;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px $secondary4;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
  cursor: pointer;

  // @media (max-width: $lowerBreak) {
  //   font-size: 0.8rem;
  //   width: 20px;
  //   height: 20px;
  //   padding: 5px;
  //   margin-bottom: 0.2rem;
  // }
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 220px;
  // @media (max-width: $lowerBreak) {
  //   width: 190px;
  // }
}
